### 1. 리스트 nums = [10,20,30,40,50,60] 에서 인덱스 1~3 요소만 가져오세요.

In [1]:
nums = [10,20,30,40,50,60]
print(nums[1:4])

[20, 30, 40]

### 2. 리스트 [1,2,3,4,5]를 슬라이싱으로 뒤집어서 만드세요.

In [2]:
nums=[1,2,3,4,5]
print(nums[::-1])

[5, 4, 3, 2, 1]

### 3. 리스트 [1,2,3,4,5]의 합을 구하세요.

In [3]:
nums=[1,2,3,4,5]
total = 0
for num in nums :
  total+=num

print(total)

15

In [4]:
print(sum(nums))

15

### 4. 리스트 [3,7,2,9,4]에서 최댓값을 구하세요.

In [5]:
nums= [3,7,2,9,4]
maxNum = nums[0]
for num in nums :
  if num > maxNum :
    maxNum = num
print(maxNum)

9

In [6]:
nums= [3,7,2,9,4]
print(max(nums))

9

### 4. 리스트 [3,7,2,9,4]에서 최소값을 구하세요.

In [7]:
nums= [3,7,2,9,4]
minNum = nums[0]
for num in nums :
  if num < minNum :
    minNum = num
print(minNum)

2

In [8]:
nums= [3,7,2,9,4]
print(min(nums))

2

### 6. 리스트 a=[1,2] 와 b=[3,4] 를 하나로 합치세요.

In [ ]:
a = [1,2]
b = [3,4]
ab = a+b
print(ab)
# a.extend(b)
# print(a)
ab02 = [*a, *b] # js에 스프레드연산자(흩뿌림)랑 비슷하다. js에서는 ... python은 * 쓴다.
print(ab02)
print(a,b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2] [3, 4]

### 7. 리스트 [1,2,2,3,3,4]에서 중복을 제거하세요.

In [1]:
nums = [1,2,2,3,3,4]
nums02 = list(set(nums))
print(nums02)

[1, 2, 3, 4]

### 8. 리스트 [1,2,3,3,3,4]에서 값 3의 개수를 구하세요.

In [1]:
nums = [1,2,3,3,3,4]
print(nums.count(3))

3

### 9. 문자열 "python"을 문자 리스트로 바꾸세요.

In [2]:
list("python")
print(list("python"))

['p', 'y', 't', 'h', 'o', 'n']

### 10. 리스트 [3,1,4,1,5]를 오름차순으로 정렬하세요.

In [4]:
nums = [3,1,4,1,5]
nums.sort(reverse=True)
print(nums)

[5, 4, 3, 1, 1]

In [ ]:
nums = [3,1,4,1,5]
sortedNums = sorted(nums)  # 원본이 유지된다.
print(nums)
print(sortedNums)

[3, 1, 4, 1, 5]
[1, 1, 3, 4, 5]

### 11. 튜플 (1,2,3)을 언패킹하여 각각 a, b, c에 저장하세요.

In [ ]:
a,b,c = (1,2,3)
print(a,"==",b,"==",c)

nums = (1,2,3,4,5)
a,b,*rest = nums
print("a===",a)
print("b===",b)
print("rest===",rest)

c=10
d=20
print("c ==",c," / d ==",d)
c,d = d,c
print("c ==",c," / d ==",d)

1 == 2 == 3
a=== 1
b=== 2
rest=== [3, 4, 5]
c== 10  / d== 20
c== 20  / d== 10

### 12. 튜플 (10,20,30,40,50)에서 가운데 3개 요소만 가져오세요.

In [ ]:
nums = (10,20,30,40,50,90,889,9090,1919,1221,1212)
first,*middle,last = nums
print(nums[1:-1])
print(middle)

(20, 30, 40, 50, 90, 889, 9090, 1919, 1221)
[20, 30, 40, 50, 90, 889, 9090, 1919, 1221]

### 13. 튜플 (1,2)와 (3,4,5)를 이어붙이세요.

In [ ]:
print((1,2) + (3,4,5))

(1, 2, 3, 4, 5)

### 14. 튜플 (1,2,3,4,5)의 길이를 구하세요.

In [19]:
nums = (1,2,3,4,5)
len(nums)

5

### 15. 튜플 (10,20,30,40)에서 값 30의 인덱스를 구하세요.

In [20]:
nums = (10,20,30,40,50)
print(nums.index(30))

2

### 16. 딕셔너리 {"a":10, "b":20} 에서 "b" 값을 가져오세요.

In [22]:
dic = {"a":10, "b":20}
print(dic.get("b"))
print(dic["b"])

20
20

### 17. 딕셔너리 {"a":1, "b":2, "c":3} 의 key 목록을 구하세요.

In [23]:
dic = {"a":1, "b":2, "c":3}
keyList = dic.keys()
print(keyList)

dict_keys(['a', 'b', 'c'])

### 18. 위 딕셔너리의 value 목록을 구하세요.

In [24]:
dic = {"a":1, "b":2, "c":3}
valueList = dic.values()
print(valueList)

dict_values([1, 2, 3])

### 19. 딕셔너리 { "x":100, "y":200 } 를 [("x",100), ("y",200)] 형태로 변환하세요.

In [30]:
dic = { "x":100, "y":200 }
items = dic.items()
print(items)

dict_items([('x', 100), ('y', 200)])

### 20. 딕셔너리 { "a":1, "b":2 } 에 "b" 키가 존재하는지 확인하세요.

In [33]:
dic = { "a":1, "b":2 }
print("b" in dic)
print("c" in dic)
print(2 in dic.values())
print(3 in dic.values())

True
False
True
False

### 21. 리스트 [1,2,3] 뒤에 [4,5]를 붙이세요.

In [35]:
a = [1,2,3]
b = [4,5]
c = a+b
d =  [*a,*b]
print(c)
print(d)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### 22. 리스트 [1,2,3,2,4]에서 첫 번째 2만 제거하세요.

In [36]:
nums = [1,2,3,2,4]
nums.remove(2)
print(nums)

[1, 3, 2, 4]

In [37]:
nums = [1,2,3,2,4]
while 2 in nums :
  nums.remove(2)
print(nums)

[1, 3, 4]

### 23. 리스트 [10,20,30,40,50]에서 첫 요소를 first, 마지막 요소를 last 변수에 저장하세요.

In [38]:
nums = [10,20,30,40,50]
first = nums[0]
last = nums[-1]
print(first)
print(last)

10
50

### 24. 리스트 [1,2,3,4]에서 head = 1, tail = [2,3,4] 를 언패킹으로 만드세요.

In [39]:
nums = [1,2,3,4]
head, *tail = nums
print(head,"===",tail)

1 === [2, 3, 4]

### 25. 리스트 [1,2,3,4,5]에서 중앙값을 구하세요.

In [ ]:
nums = [1,2,3,4,5,323,323,1,2,3,4,5,889]
mid =  len(nums)//2
print(nums[mid])

2

### 27. 리스트 [1,2,3,4] 를 set으로 변환하세요.

In [43]:
print(set([1,2,3,3,3,3,4,5,6,6,6,8]))

{1, 2, 3, 4, 5, 6, 8}

### 28. set {10,20,30} 을 리스트로 변환하세요.

In [44]:
print(list({10,20,30}))

[10, 20, 30]

### 29. 딕셔너리 a={"x":1,"y":2} 와 b={"y":3,"z":4} 를 하나로 합치세요.

In [47]:
a={"x":1,"y":2} 
b={"y":3,"z":4}
c =  a|b
print(c)
d = {**a, **b} # dictionary unpacking은 **를 쓴다.
print(d)
a.update(b)
print(a)

{'x': 1, 'y': 3, 'z': 4}
{'x': 1, 'y': 3, 'z': 4}
{'x': 1, 'y': 3, 'z': 4}

### 30. 딕셔너리 {"kim":90, "lee":85, "park":95} 에서 값이 가장 큰 이름을 구하세요.

In [49]:
students = {"kim":90, "lee":85, "park":95}
maxName = None
maxScore = 0
for item in students :
  if students[item] > maxScore :
    maxScore=students[item]
    maxName = item
print(maxName,"===",students.get(maxName))

park === 95