### 1) CSV 파일을 pandas DataFrame으로 불러오세요.

In [ ]:
import pandas as pd
#df = pd.read_csv("./korean_netflix.csv", sep=",")
df = pd.read_csv("./korean_netflix.csv")
print(df)

   show_id     type      title director cast   country  release_year  \
0      201  TV Show         킹덤      김성훈  주지훈      대한민국        2019.0
1      202    Movie        기생충      봉준호  송강호      대한민국        2019.0
2      203    Movie        부산행      NaN   공유      대한민국        2016.0
3      204  TV Show    미스터 션샤인      이응복  NaN      대한민국        2018.0
4      205    Movie       올드보이      박찬욱  최민식       NaN        2003.0
5      206  TV Show  응답하라 1988      NaN  박보검      대한민국        2015.0
6      207    Movie         명량      김한민  NaN      대한민국        2014.0
7      208    Movie         암살      최동훈  전지현  대한민국, 중국        2015.0
8      209  TV Show       스위트홈      NaN   송강       NaN        2020.0
9      210    Movie       국제시장      NaN  황정민      대한민국           NaN

   duration  listed_in
0     720.0     TV 스릴러
1     132.0        NaN
2     118.0  액션 & 어드벤처
3    2400.0     TV 드라마
4     120.0        스릴러
5       NaN     TV 드라마
6     128.0        NaN
7     139.0         액션
8     800.0     TV 판타지
9     126.0        드라마

### 2)데이터의 행(row) 수와 열(column) 수를 출력하세요.

In [4]:
import pandas as pd
df = pd.read_csv("./korean_netflix.csv")
print(df.shape)

(10, 9)

### 3)모든 컬럼 이름을 리스트 형태로 출력하세요.

In [10]:
import pandas as pd
df = pd.read_csv("./korean_netflix.csv")
print(list(df.columns))

['show_id', 'type', 'title', 'director', 'cast', 'country', 'release_year', 'duration', 'listed_in']

### 4)데이터의 앞에서 5개 행만 출력하세요.

In [14]:
import pandas as pd
df = pd.read_csv("./korean_netflix.csv")
print(df.head())

   show_id     type    title director cast country  release_year  duration  \
0      201  TV Show       킹덤      김성훈  주지훈    대한민국        2019.0     720.0
1      202    Movie      기생충      봉준호  송강호    대한민국        2019.0     132.0
2      203    Movie      부산행      NaN   공유    대한민국        2016.0     118.0
3      204  TV Show  미스터 션샤인      이응복  NaN    대한민국        2018.0    2400.0
4      205    Movie     올드보이      박찬욱  최민식     NaN        2003.0     120.0

   listed_in
0     TV 스릴러
1        NaN
2  액션 & 어드벤처
3     TV 드라마
4        스릴러

### 5)title, type, release_year 컬럼만 선택하여 출력하세요.

In [18]:
import pandas as pd
df = pd.read_csv("./korean_netflix.csv")
print(df[["title","type","release_year"]])
print(df.loc[:,["title","type","release_year"]])

       title     type  release_year
0         킹덤  TV Show        2019.0
1        기생충    Movie        2019.0
2        부산행    Movie        2016.0
3    미스터 션샤인  TV Show        2018.0
4       올드보이    Movie        2003.0
5  응답하라 1988  TV Show        2015.0
6         명량    Movie        2014.0
7         암살    Movie        2015.0
8       스위트홈  TV Show        2020.0
9       국제시장    Movie           NaN
       title     type  release_year
0         킹덤  TV Show        2019.0
1        기생충    Movie        2019.0
2        부산행    Movie        2016.0
3    미스터 션샤인  TV Show        2018.0
4       올드보이    Movie        2003.0
5  응답하라 1988  TV Show        2015.0
6         명량    Movie        2014.0
7         암살    Movie        2015.0
8       스위트홈  TV Show        2020.0
9       국제시장    Movie           NaN

### 6)title, director, release_year 컬럼을 선택한 뒤 앞에서 5개 행을 왼쪽 정렬로 출력하세요.

In [19]:
print(df[["title","director","release_year"]].head().to_string(justify="left"))

  title    director  release_year
0       킹덤  김성훈      2019.0
1      기생충  봉준호      2019.0
2      부산행  NaN      2016.0
3  미스터 션샤인  이응복      2018.0
4     올드보이  박찬욱      2003.0

### 7)type이 "Movie"인 데이터만 추출하여 출력하세요.

In [20]:
print(df[df["type"]=="Movie"])

   show_id   type title director cast   country  release_year  duration  \
1      202  Movie   기생충      봉준호  송강호      대한민국        2019.0     132.0
2      203  Movie   부산행      NaN   공유      대한민국        2016.0     118.0
4      205  Movie  올드보이      박찬욱  최민식       NaN        2003.0     120.0
6      207  Movie    명량      김한민  NaN      대한민국        2014.0     128.0
7      208  Movie    암살      최동훈  전지현  대한민국, 중국        2015.0     139.0
9      210  Movie  국제시장      NaN  황정민      대한민국           NaN     126.0

   listed_in
1        NaN
2  액션 & 어드벤처
4        스릴러
6        NaN
7         액션
9        드라마

### 8) type이 "TV Show"인 콘텐츠는 총 몇 개인지 구하세요.

In [22]:
print(len(df[df.type=="TV Show"]))

4

### 9)release_year가 2015년 이상인 데이터만 출력하세요.

In [23]:
print(df[df.release_year>=2015])

   show_id     type      title director cast   country  release_year  \
0      201  TV Show         킹덤      김성훈  주지훈      대한민국        2019.0
1      202    Movie        기생충      봉준호  송강호      대한민국        2019.0
2      203    Movie        부산행      NaN   공유      대한민국        2016.0
3      204  TV Show    미스터 션샤인      이응복  NaN      대한민국        2018.0
5      206  TV Show  응답하라 1988      NaN  박보검      대한민국        2015.0
7      208    Movie         암살      최동훈  전지현  대한민국, 중국        2015.0
8      209  TV Show       스위트홈      NaN   송강       NaN        2020.0

   duration  listed_in
0     720.0     TV 스릴러
1     132.0        NaN
2     118.0  액션 & 어드벤처
3    2400.0     TV 드라마
5       NaN     TV 드라마
7     139.0         액션
8     800.0     TV 판타지

### 10) country 컬럼에 "대한민국"이 포함된 행만 출력하세요.

In [34]:

#print(df[df["country"]=="대한민국"])
print(df[df["country"].str.contains("대한민국",na=False)])

   show_id     type      title director cast   country  release_year  \
0      201  TV Show         킹덤      김성훈  주지훈      대한민국        2019.0
1      202    Movie        기생충      봉준호  송강호      대한민국        2019.0
2      203    Movie        부산행      NaN   공유      대한민국        2016.0
3      204  TV Show    미스터 션샤인      이응복  NaN      대한민국        2018.0
5      206  TV Show  응답하라 1988      NaN  박보검      대한민국        2015.0
6      207    Movie         명량      김한민  NaN      대한민국        2014.0
7      208    Movie         암살      최동훈  전지현  대한민국, 중국        2015.0
9      210    Movie       국제시장      NaN  황정민      대한민국           NaN

   duration  listed_in
0     720.0     TV 스릴러
1     132.0        NaN
2     118.0  액션 & 어드벤처
3    2400.0     TV 드라마
5       NaN     TV 드라마
6     128.0        NaN
7     139.0         액션
9     126.0        드라마

### 11) release_year를 기준으로 오래된 순(오름차순)으로 정렬하여 출력하세요.

In [ ]:
print(df.sort_values("release_year", ascending=False, na_position="first"))
#print(df.dropna(subset=["release_year"])
#  .sort_values("release_year", ascending=False))

   show_id     type      title director cast   country  release_year  \
8      209  TV Show       스위트홈      NaN   송강       NaN        2020.0
0      201  TV Show         킹덤      김성훈  주지훈      대한민국        2019.0
1      202    Movie        기생충      봉준호  송강호      대한민국        2019.0
3      204  TV Show    미스터 션샤인      이응복  NaN      대한민국        2018.0
2      203    Movie        부산행      NaN   공유      대한민국        2016.0
7      208    Movie         암살      최동훈  전지현  대한민국, 중국        2015.0
5      206  TV Show  응답하라 1988      NaN  박보검      대한민국        2015.0
6      207    Movie         명량      김한민  NaN      대한민국        2014.0
4      205    Movie       올드보이      박찬욱  최민식       NaN        2003.0

   duration  listed_in
8     800.0     TV 판타지
0     720.0     TV 스릴러
1     132.0        NaN
3    2400.0     TV 드라마
2     118.0  액션 & 어드벤처
7     139.0         액션
5       NaN     TV 드라마
6     128.0        NaN
4     120.0        스릴러

### 12)duration이 가장 긴 콘텐츠의 title, type, duration을 출력하세요.

In [44]:
idx = df["duration"].idxmax()  
max_value = df["duration"].max()  
print(idx,"===",max_value)
print(df.loc[idx,["title","type","duration"]])

3 === 2400.0
title       미스터 션샤인
type        TV Show
duration     2400.0
Name: 3, dtype: object

### 13) listed_in 컬럼 기준으로 콘텐츠 개수를 집계하세요.

In [45]:
print(df.listed_in.value_counts())

listed_in
TV 드라마       2
TV 스릴러       1
액션 & 어드벤처    1
스릴러          1
액션           1
TV 판타지       1
드라마          1
Name: count, dtype: int64

### 14) 각 컬럼별 결측치(NaN) 개수를 출력하세요.

In [46]:
print(df.isna().sum())

show_id         0
type            0
title           0
director        4
cast            2
country         2
release_year    1
duration        1
listed_in       2
dtype: int64

### 15) director가 결측치인 행만 출력하세요.

In [47]:
print(df[df.director.isna()])

   show_id     type      title director cast country  release_year  duration  \
2      203    Movie        부산행      NaN   공유    대한민국        2016.0     118.0
5      206  TV Show  응답하라 1988      NaN  박보검    대한민국        2015.0       NaN
8      209  TV Show       스위트홈      NaN   송강     NaN        2020.0     800.0
9      210    Movie       국제시장      NaN  황정민    대한민국           NaN     126.0

   listed_in
2  액션 & 어드벤처
5     TV 드라마
8     TV 판타지
9        드라마

### 16) 결측치가 하나라도 포함된 행만 출력하세요.

In [ ]:
print(df[df.isna().any(axis=1)])

   show_id     type      title director cast country  release_year  duration  \
1      202    Movie        기생충      봉준호  송강호    대한민국        2019.0     132.0
2      203    Movie        부산행      NaN   공유    대한민국        2016.0     118.0
3      204  TV Show    미스터 션샤인      이응복  NaN    대한민국        2018.0    2400.0
4      205    Movie       올드보이      박찬욱  최민식     NaN        2003.0     120.0
5      206  TV Show  응답하라 1988      NaN  박보검    대한민국        2015.0       NaN
6      207    Movie         명량      김한민  NaN    대한민국        2014.0     128.0
8      209  TV Show       스위트홈      NaN   송강     NaN        2020.0     800.0
9      210    Movie       국제시장      NaN  황정민    대한민국           NaN     126.0

   listed_in
1        NaN
2  액션 & 어드벤처
3     TV 드라마
4        스릴러
5     TV 드라마
6        NaN
8     TV 판타지
9        드라마

### 17) 결측치가 전혀 없는 행만 출력하세요.

In [51]:
print(df.dropna())

   show_id     type title director cast   country  release_year  duration  \
0      201  TV Show    킹덤      김성훈  주지훈      대한민국        2019.0     720.0
7      208    Movie    암살      최동훈  전지현  대한민국, 중국        2015.0     139.0

  listed_in
0    TV 스릴러
7        액션

### 18) director 컬럼의 결측치를 "정보없음"으로 채우세요.

In [52]:
df.director = df.director.fillna("정보없음")
print(df)

   show_id     type      title director cast   country  release_year  \
0      201  TV Show         킹덤      김성훈  주지훈      대한민국        2019.0
1      202    Movie        기생충      봉준호  송강호      대한민국        2019.0
2      203    Movie        부산행     정보없음   공유      대한민국        2016.0
3      204  TV Show    미스터 션샤인      이응복  NaN      대한민국        2018.0
4      205    Movie       올드보이      박찬욱  최민식       NaN        2003.0
5      206  TV Show  응답하라 1988     정보없음  박보검      대한민국        2015.0
6      207    Movie         명량      김한민  NaN      대한민국        2014.0
7      208    Movie         암살      최동훈  전지현  대한민국, 중국        2015.0
8      209  TV Show       스위트홈     정보없음   송강       NaN        2020.0
9      210    Movie       국제시장     정보없음  황정민      대한민국           NaN

   duration  listed_in
0     720.0     TV 스릴러
1     132.0        NaN
2     118.0  액션 & 어드벤처
3    2400.0     TV 드라마
4     120.0        스릴러
5       NaN     TV 드라마
6     128.0        NaN
7     139.0         액션
8     800.0     TV 판타지
9     126.0        드라마

### 19) release_year가 결측치인 행만 제거하세요.

In [55]:
df = df.dropna(subset=["release_year"])
print(df)

   show_id     type title director cast   country  release_year  duration  \
0      201  TV Show    킹덤      김성훈  주지훈      대한민국        2019.0     720.0
2      203    Movie   부산행     정보없음   공유      대한민국        2016.0     118.0
7      208    Movie    암살      최동훈  전지현  대한민국, 중국        2015.0     139.0

   listed_in
0     TV 스릴러
2  액션 & 어드벤처
7         액션

### 20) duration의 결측치를 전체 데이터의 평균 러닝타임으로 채우세요.

In [58]:
import pandas as pd
df = pd.read_csv("./korean_netflix.csv")
avg_duration = df.duration.mean()
print(avg_duration)
df.duration = df.duration.fillna(avg_duration)
print(df)

520.3333333333334
   show_id     type      title director cast   country  release_year  \
0      201  TV Show         킹덤      김성훈  주지훈      대한민국        2019.0
1      202    Movie        기생충      봉준호  송강호      대한민국        2019.0
2      203    Movie        부산행      NaN   공유      대한민국        2016.0
3      204  TV Show    미스터 션샤인      이응복  NaN      대한민국        2018.0
4      205    Movie       올드보이      박찬욱  최민식       NaN        2003.0
5      206  TV Show  응답하라 1988      NaN  박보검      대한민국        2015.0
6      207    Movie         명량      김한민  NaN      대한민국        2014.0
7      208    Movie         암살      최동훈  전지현  대한민국, 중국        2015.0
8      209  TV Show       스위트홈      NaN   송강       NaN        2020.0
9      210    Movie       국제시장      NaN  황정민      대한민국           NaN

      duration  listed_in
0   720.000000     TV 스릴러
1   132.000000        NaN
2   118.000000  액션 & 어드벤처
3  2400.000000     TV 드라마
4   120.000000        스릴러
5   520.333333     TV 드라마
6   128.000000        NaN
7   139.000000         액션
8   800.000000     TV 판타지
9   126.000000        드라마